In [40]:
import pandas as pd
import json
import math

In [90]:
file_path = 'diabetes_binary_5050split_health_indicators_BRFSS2015.csv'
df = pd.read_csv(file_path)

df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [92]:
def calculate_prevalence(group):
    print(f"Group Name: {group.name}")  # Print the group identifier
    print(group.head())  # Print the first few rows of the group
    total = group.count()
    diabetic_count = group.sum()
    print(f"Total: {total}, Diabetic Count: {diabetic_count}")
    if total == 0:
        return 0  
    else:
        return (diabetic_count / total) * 100

In [93]:
df['Age'].head()

0     4.0
1    12.0
2    13.0
3    11.0
4     8.0
Name: Age, dtype: float64

In [96]:
mapping = {
    1.0: '18-24', 2.0: '25-34', 3.0: '35-44', 4.0: '45-54',
    5.0: '55-64', 6.0: '65-74', 7.0: '75-84', 8.0: '85+',
    9.0: '90+', 10.0: '95+', 11.0: '100+', 12.0: '105+', 13.0: '110+'
}
df['AgeGroup'] = df['Age'].map(mapping)
print(df[['Age', 'AgeGroup']].head())


age_prevalence = df.groupby('AgeGroup')['Diabetes_binary'].mean().multiply(100).to_dict()

# BMI Grouping
bmi_bins = [0, 18.5, 25, 30, 100]
bmi_labels = ['Underweight', 'Normal', 'Overweight', 'Obese']
df['BMICategory'] = pd.cut(df['BMI'], bins=bmi_bins, labels=bmi_labels, right=False)
bmi_prevalence = df.groupby('BMICategory')['Diabetes_binary'].mean().multiply(100).to_dict()

age_prevalence

    Age AgeGroup
0   4.0    45-54
1  12.0     105+
2  13.0     110+
3  11.0     100+
4   8.0      85+

{'100+': 63.910989557434114,
 '105+': 63.08861698183167,
 '110+': 59.14117213416882,
 '18-24': 7.967313585291114,
 '25-34': 10.028653295128938,
 '35-44': 15.324548560273305,
 '45-54': 22.413175796634444,
 '55-64': 29.857954545454547,
 '65-74': 37.47848537005164,
 '75-84': 44.935972060535505,
 '85+': 49.55248169243287,
 '90+': 56.69501582278481,
 '95+': 60.40899042004422}

In [ ]:
sex_prevalence = df.groupby('Sex')['Diabetes_binary'].mean().multiply(100).to_dict()
smoker_prevalence = df.groupby('Smoker')['Diabetes_binary'].mean().multiply(100).to_dict()
high_bp_prevalence = (df.groupby('HighBP')['Diabetes_binary'].mean().multiply(100).to_dict())
high_chol_prevalence = df.groupby('HighChol')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
heart_disease_prevalence = df.groupby('HeartDiseaseorAttack')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
phys_activity_prevalence = df.groupby('PhysActivity')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
gen_health_prevalence = df.groupby('GenHlth')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
ment_health_prevalence = df.groupby('MentHlth')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
phys_health_prevalence = df.groupby('PhysHlth')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
diff_walk_prevalence = df.groupby('DiffWalk')['Diabetes_binary'].apply(calculate_prevalence).to_dict()
fruits_prevalence = df.groupby('Fruits')['Diabetes_binary'].apply(calculate_prevalence).to_dict()

Group Name: 0.0
0    0.0
2    0.0
4    0.0
5    0.0
7    0.0
Name: 0.0, dtype: float64
Total: 33529, Diabetic Count: 11660.0
Group Name: 1.0
1     0.0
3     0.0
6     0.0
10    0.0
12    0.0
Name: 1.0, dtype: float64
Total: 37163, Diabetic Count: 23686.0
Group Name: 0.0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 0.0, dtype: float64
Total: 60243, Diabetic Count: 27468.0
Group Name: 1.0
10    0.0
34    0.0
52    0.0
62    0.0
67    0.0
Name: 1.0, dtype: float64
Total: 10449, Diabetic Count: 7878.0
Group Name: 0.0
1     0.0
7     0.0
9     0.0
13    0.0
19    0.0
Name: 0.0, dtype: float64
Total: 20993, Diabetic Count: 13059.0
Group Name: 1.0
0    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: 1.0, dtype: float64
Total: 49699, Diabetic Count: 22287.0
Group Name: 1.0
2     0.0
6     0.0
11    0.0
14    0.0
17    0.0
Name: 1.0, dtype: float64
Total: 8282, Diabetic Count: 1140.0
Group Name: 2.0
4     0.0
5     0.0
12    0.0
16    0.0
18    0.0
Name: 2.0, dtype: float64
Total: 19872, Diabetic Count: 6381.0
Group Name: 3.0
0    0.0
1    0.0
3    0.0
8    0.0
9    0.0
Name: 3.0, dtype: float64
Total: 23427, Diabetic Count: 13457.0
Group Name: 4.0
7     0.0
27    0.0
30    0.0
33    0.0
60    0.0
Name: 4.0, dtype: float64
Total: 13303, Diabetic Count: 9790.0
Group Name: 5.0
21    0.0
45    0.0
51    0.0
59    0.0
65    0.0
Name: 5.0, dtype: float64
Total: 5808, Diabetic Count: 4578.0
Group Name: 0.0
1    0.0
2    0.0
3    0.0
4    0.0
6    0.0
Name: 0.0, dtype: float64
Total: 48091, Diabetic Count: 23403.0
Group Name: 1.0
40     0.0
53     0.0
127    0.0
142    0.0
147    0.0
Name: 1.0, dtype: float64
Total: 2051, Diabetic Count: 812.0
Group Name: 2.0
25    0.0
28    0.0
47    0.0
71    0.0
85    0.0
Name: 2.0, dtype: float64
Total: 3267, Diabetic Count: 1508.0
Group Name: 3.0
13     0.0
123    0.0
160    0.0
181    0.0
182    0.0
Name: 3.0, dtype: float64
Total: 1967, Diabetic Count: 924.0
Group Name: 4.0
24     0.0
152    0.0
236    0.0
312    0.0
457    0.0
Name: 4.0, dtype: float64
Total: 981, Diabetic Count: 489.0
Group Name: 5.0
0      0.0
31     0.0
54     0.0
122    0.0
151    0.0
Name: 5.0, dtype: float64
Total: 2519, Diabetic Count: 1223.0
Group Name: 6.0
286     0.0
656     0.0
1198    0.0
1574    0.0
1816    0.0
Name: 6.0, dtype: float64
Total: 288, Diabetic Count: 164.0
Group Name: 7.0
5      0.0
45     0.0
76     0.0
176    0.0
299    0.0
Name: 7.0, dtype: float64
Total: 825, Diabetic Count: 405.0
Group Name: 8.0
1691    0.0
1908    0.0
2275    0.0
2308    0.0
2666    0.0
Name: 8.0, dtype: float64
Total: 198, Diabetic Count: 110.0
Group Name: 9.0
1755     0.0
4465     0.0
7380     0.0
9236     0.0
13239    0.0
Name: 9.0, dtype: float64
Total: 28, Diabetic Count: 13.0
Group Name: 10.0
60     0.0
163    0.0
183    0.0
191    0.0
199    0.0
Name: 10.0, dtype: float64
Total: 1924, Diabetic Count: 1064.0
Group Name: 11.0
17233    0.0
18733    0.0
20514    0.0
26147    0.0
32726    0.0
Name: 11.0, dtype: float64
Total: 8, Diabetic Count: 3.0
Group Name: 12.0
646     0.0
1024    0.0
1081    0.0
1352    0.0
1419    0.0
Name: 12.0, dtype: float64
Total: 130, Diabetic Count: 67.0
Group Name: 13.0
1315     0.0
15793    0.0
17537    0.0
27281    0.0
29245    0.0
Name: 13.0, dtype: float64
Total: 15, Diabetic Count: 8.0
Group Name: 14.0
100    0.0
170    0.0
210    0.0
216    0.0
282    0.0
Name: 14.0, dtype: float64
Total: 353, Diabetic Count: 198.0
Group Name: 15.0
51     0.0
63     0.0
88     0.0
187    0.0
230    0.0
Name: 15.0, dtype: float64
Total: 1767, Diabetic Count: 1023.0
Group Name: 16.0
1062    0.0
3092    0.0
5066    0.0
6841    0.0
7129    0.0
Name: 16.0, dtype: float64
Total: 28, Diabetic Count: 14.0
Group Name: 17.0
4512     0.0
5527     0.0
6197     0.0
10952    0.0
11213    0.0
Name: 17.0, dtype: float64
Total: 18, Diabetic Count: 11.0
Group Name: 18.0
2941    0.0
4354    0.0
5602    0.0
5753    0.0
6206    0.0
Name: 18.0, dtype: float64
Total: 42, Diabetic Count: 20.0
Group Name: 19.0
22285    0.0
23293    0.0
27561    0.0
36233    1.0
37844    1.0
Name: 19.0, dtype: float64
Total: 7, Diabetic Count: 4.0
Group Name: 20.0
35     0.0
59     0.0
101    0.0
120    0.0
205    0.0
Name: 20.0, dtype: float64
Total: 1125, Diabetic Count: 663.0
Group Name: 21.0
2219    0.0
3263    0.0
5266    0.0
7472    0.0
7546    0.0
Name: 21.0, dtype: float64
Total: 84, Diabetic Count: 48.0
Group Name: 22.0
1183    0.0
1675    0.0
1846    0.0
6193    0.0
7108    0.0
Name: 22.0, dtype: float64
Total: 22, Diabetic Count: 11.0
Group Name: 23.0
16914    0.0
20836    0.0
24738    0.0
29319    0.0
34910    0.0
Name: 23.0, dtype: float64
Total: 13, Diabetic Count: 8.0
Group Name: 24.0
14112    0.0
19479    0.0
30422    0.0
35343    0.0
35661    1.0
Name: 24.0, dtype: float64
Total: 10, Diabetic Count: 6.0
Group Name: 25.0
87     0.0
490    0.0
517    0.0
559    0.0
566    0.0
Name: 25.0, dtype: float64
Total: 425, Diabetic Count: 273.0
Group Name: 26.0
548      0.0
4527     0.0
5805     0.0
13402    0.0
13604    0.0
Name: 26.0, dtype: float64
Total: 17, Diabetic Count: 7.0
Group Name: 27.0
7648     0.0
8189     0.0
15938    0.0
28545    0.0
35154    0.0
Name: 27.0, dtype: float64
Total: 17, Diabetic Count: 12.0
Group Name: 28.0
140     0.0
229     0.0
1556    0.0
1768    0.0
1942    0.0
Name: 28.0, dtype: float64
Total: 99, Diabetic Count: 57.0
Group Name: 29.0
328      0.0
1861     0.0
3768     0.0
9286     0.0
13227    0.0
Name: 29.0, dtype: float64
Total: 53, Diabetic Count: 30.0
Group Name: 30.0
30     0.0
65     0.0
72     0.0
103    0.0
121    0.0
Name: 30.0, dtype: float64
Total: 4320, Diabetic Count: 2768.0
Group Name: 0.0
1    0.0
4    0.0
5    0.0
6    0.0
7    0.0
Name: 0.0, dtype: float64
Total: 39915, Diabetic Count: 16740.0
Group Name: 1.0
25     0.0
56     0.0
85     0.0
97     0.0
119    0.0
Name: 1.0, dtype: float64
Total: 2853, Diabetic Count: 1188.0
Group Name: 2.0
28     0.0
32     0.0
64     0.0
107    0.0
129    0.0
Name: 2.0, dtype: float64
Total: 4102, Diabetic Count: 2028.0
Group Name: 3.0
3     0.0
13    0.0
26    0.0
50    0.0
96    0.0
Name: 3.0, dtype: float64
Total: 2438, Diabetic Count: 1289.0
Group Name: 4.0
10     0.0
27     0.0
33     0.0
101    0.0
116    0.0
Name: 4.0, dtype: float64
Total: 1376, Diabetic Count: 763.0
Group Name: 5.0
122    0.0
194    0.0
217    0.0
249    0.0
334    0.0
Name: 5.0, dtype: float64
Total: 2332, Diabetic Count: 1314.0
Group Name: 6.0
9      0.0
61     0.0
263    0.0
516    0.0
659    0.0
Name: 6.0, dtype: float64
Total: 447, Diabetic Count: 282.0
Group Name: 7.0
45     0.0
62     0.0
68     0.0
70     0.0
143    0.0
Name: 7.0, dtype: float64
Total: 1326, Diabetic Count: 743.0
Group Name: 8.0
150    0.0
346    0.0
658    0.0
672    0.0
684    0.0
Name: 8.0, dtype: float64
Total: 276, Diabetic Count: 159.0
Group Name: 9.0
6578     0.0
6937     0.0
6939     0.0
11263    0.0
11356    0.0
Name: 9.0, dtype: float64
Total: 55, Diabetic Count: 36.0
Group Name: 10.0
2      0.0
78     0.0
123    0.0
196    0.0
212    0.0
Name: 10.0, dtype: float64
Total: 1980, Diabetic Count: 1290.0
Group Name: 11.0
3225     0.0
3514     0.0
8059     0.0
8135     0.0
10196    0.0
Name: 11.0, dtype: float64
Total: 22, Diabetic Count: 12.0
Group Name: 12.0
566    0.0
576    0.0
714    0.0
935    0.0
979    0.0
Name: 12.0, dtype: float64
Total: 205, Diabetic Count: 129.0
Group Name: 13.0
4927     0.0
8535     0.0
9337     0.0
10827    0.0
14295    0.0
Name: 13.0, dtype: float64
Total: 26, Diabetic Count: 16.0
Group Name: 14.0
30     0.0
100    0.0
170    0.0
271    0.0
539    0.0
Name: 14.0, dtype: float64
Total: 802, Diabetic Count: 473.0
Group Name: 15.0
19     0.0
193    0.0
386    0.0
457    0.0
470    0.0
Name: 15.0, dtype: float64
Total: 1913, Diabetic Count: 1295.0
Group Name: 16.0
5066     0.0
7105     0.0
8128     0.0
9898     0.0
10901    0.0
Name: 16.0, dtype: float64
Total: 50, Diabetic Count: 34.0
Group Name: 17.0
6316     0.0
6380     0.0
7020     0.0
12628    0.0
23726    0.0
Name: 17.0, dtype: float64
Total: 35, Diabetic Count: 27.0
Group Name: 18.0
886     0.0
1160    0.0
3186    0.0
3822    0.0
8364    0.0
Name: 18.0, dtype: float64
Total: 50, Diabetic Count: 35.0
Group Name: 19.0
7764     0.0
7868     0.0
23042    0.0
24899    0.0
25171    0.0
Name: 19.0, dtype: float64
Total: 10, Diabetic Count: 3.0
Group Name: 20.0
87     0.0
94     0.0
140    0.0
612    0.0
642    0.0
Name: 20.0, dtype: float64
Total: 1292, Diabetic Count: 917.0
Group Name: 21.0
81      0.0
958     0.0
1001    0.0
1945    0.0
1967    0.0
Name: 21.0, dtype: float64
Total: 229, Diabetic Count: 139.0
Group Name: 22.0
210      0.0
807      0.0
1260     0.0
12166    0.0
18735    0.0
Name: 22.0, dtype: float64
Total: 31, Diabetic Count: 23.0
Group Name: 23.0
211      0.0
7169     0.0
7878     0.0
10575    0.0
11084    0.0
Name: 23.0, dtype: float64
Total: 27, Diabetic Count: 16.0
Group Name: 24.0
1675     0.0
4229     0.0
4955     0.0
6668     0.0
14112    0.0
Name: 24.0, dtype: float64
Total: 24, Diabetic Count: 15.0
Group Name: 25.0
51      0.0
130     0.0
548     0.0
661     0.0
1053    0.0
Name: 25.0, dtype: float64
Total: 557, Diabetic Count: 394.0
Group Name: 26.0
1560     0.0
4273     0.0
18559    0.0
23218    0.0
36068    1.0
Name: 26.0, dtype: float64
Total: 26, Diabetic Count: 22.0
Group Name: 27.0
2711     0.0
7038     0.0
9421     0.0
10678    0.0
13948    0.0
Name: 27.0, dtype: float64
Total: 34, Diabetic Count: 21.0
Group Name: 28.0
1052    0.0
1181    0.0
1199    0.0
1518    0.0
1632    0.0
Name: 28.0, dtype: float64
Total: 211, Diabetic Count: 143.0
Group Name: 29.0
365     0.0
3462    0.0
4920    0.0
5984    0.0
6790    0.0
Name: 29.0, dtype: float64
Total: 95, Diabetic Count: 74.0
Group Name: 30.0
0     0.0
21    0.0
24    0.0
59    0.0
60    0.0
Name: 30.0, dtype: float64
Total: 7953, Diabetic Count: 5726.0
Group Name: 0.0
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: 0.0, dtype: float64
Total: 52826, Diabetic Count: 22225.0
Group Name: 1.0
14    0.0
30    0.0
49    0.0
51    0.0
59    0.0
Name: 1.0, dtype: float64
Total: 17866, Diabetic Count: 13121.0
Group Name: 0.0
0     0.0
16    0.0
22    0.0
25    0.0
26    0.0
Name: 0.0, dtype: float64
Total: 27443, Diabetic Count: 14653.0
Group Name: 1.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
Name: 1.0, dtype: float64
Total: 43249, Diabetic Count: 20693.0

In [97]:
prevalence_data = {
    "Age": age_prevalence,
    "BMI": bmi_prevalence,
    "Sex": sex_prevalence,
    "Smoker": smoker_prevalence,
    "HighBP": high_bp_prevalence,
    "HighChol": high_chol_prevalence,
    "HeartDiseaseorAttack": heart_disease_prevalence,
    "PhysActivity": phys_activity_prevalence,
    "GenHlth": gen_health_prevalence,
    "MentHlth": ment_health_prevalence,
    "PhysHlth": phys_health_prevalence,
    "DiffWalk": diff_walk_prevalence,
    "Fruits": fruits_prevalence
}

prevalence_data

{'Age': {'100+': 63.910989557434114,
  '105+': 63.08861698183167,
  '110+': 59.14117213416882,
  '18-24': 7.967313585291114,
  '25-34': 10.028653295128938,
  '35-44': 15.324548560273305,
  '45-54': 22.413175796634444,
  '55-64': 29.857954545454547,
  '65-74': 37.47848537005164,
  '75-84': 44.935972060535505,
  '85+': 49.55248169243287,
  '90+': 56.69501582278481,
  '95+': 60.40899042004422},
 'BMI': {'Underweight': 25.880551301684534,
  'Normal': 27.164591977869986,
  'Overweight': 44.300807955251706,
  'Obese': 65.37654242462791},
 'Sex': {0.0: 47.96279893711249, 1.0: 52.42060298396582},
 'Smoker': {0.0: 45.90769396667925, 1.0: 54.51812607893327},
 'HighBP': {0.0: 28.327932598833446, 1.0: 66.79052018477606},
 'HighChol': {0.0: 34.77586566852575, 1.0: 63.73543578290235},
 'HeartDiseaseorAttack': {0.0: 45.595338877545935, 1.0: 75.39477461958082},
 'PhysActivity': {0.0: 62.20644976897061, 1.0: 44.84396064307129},
 'GenHlth': {1.0: 13.764791113257669,
  2.0: 32.11050724637681,
  3.0: 57.44226746915951,
  4.0: 73.59242276178306,
  5.0: 78.82231404958677},
 'MentHlth': {0.0: 48.663991183381505,
  1.0: 39.59044368600683,
  2.0: 46.15855524946434,
  3.0: 46.97508896797153,
  4.0: 49.84709480122324,
  5.0: 48.55101230647082,
  6.0: 56.94444444444444,
  7.0: 49.09090909090909,
  8.0: 55.55555555555556,
  9.0: 46.42857142857143,
  10.0: 55.301455301455306,
  11.0: 37.5,
  12.0: 51.53846153846153,
  13.0: 53.333333333333336,
  14.0: 56.09065155807366,
  15.0: 57.89473684210527,
  16.0: 50.0,
  17.0: 61.111111111111114,
  18.0: 47.61904761904761,
  19.0: 57.14285714285714,
  20.0: 58.93333333333334,
  21.0: 57.14285714285714,
  22.0: 50.0,
  23.0: 61.53846153846154,
  24.0: 60.0,
  25.0: 64.23529411764706,
  26.0: 41.17647058823529,
  27.0: 70.58823529411765,
  28.0: 57.57575757575758,
  29.0: 56.60377358490566,
  30.0: 64.07407407407408},
 'PhysHlth': {0.0: 41.9391206313416,
  1.0: 41.6403785488959,
  2.0: 49.43929790346173,
  3.0: 52.871205906480725,
  4.0: 55.45058139534884,
  5.0: 56.34648370497427,
  6.0: 63.08724832214765,
  7.0: 56.03318250377074,
  8.0: 57.608695652173914,
  9.0: 65.45454545454545,
  10.0: 65.15151515151516,
  11.0: 54.54545454545454,
  12.0: 62.926829268292686,
  13.0: 61.53846153846154,
  14.0: 58.97755610972568,
  15.0: 67.69472033455305,
  16.0: 68.0,
  17.0: 77.14285714285715,
  18.0: 70.0,
  19.0: 30.0,
  20.0: 70.97523219814241,
  21.0: 60.698689956331876,
  22.0: 74.19354838709677,
  23.0: 59.25925925925925,
  24.0: 62.5,
  25.0: 70.73608617594255,
  26.0: 84.61538461538461,
  27.0: 61.76470588235294,
  28.0: 67.77251184834124,
  29.0: 77.89473684210526,
  30.0: 71.9979881805608},
 'DiffWalk': {0.0: 42.072085715367436, 1.0: 73.44117317810365},
 'Fruits': {0.0: 53.394308202455996, 1.0: 47.84619297556013}}

In [100]:
with open('prevalence_data.json', 'w') as f:
    json.dump(prevalence_data, f)